.content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}

@media screen and (max-width: 768px) {

  //container
	  .content {
		  width: calc(100% - 60px);
		  left: 200px;
	  }
  }
  
  